# logpeck Output
output/
samplelogs/
scratch/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,html
.pytest_cache/

# OS
.DS_Store
tests/

# Agent Skills / State
.agents/

# Bulk Automations
scripts/
